img {
  opacity: 0;
}

div.description {
  position: fixed;
  top: 10vh;
  width: 20vw;
  left: 5vw;
}

div.description.horizontal {
  top: 40vh;
  left: 5vw;
  width: 15vw;
}

div.description.square {
  top: 20vh;
  left: 5vw;
  width: 15vw;
}

div.description.square-responsive {
  width: 15vw;
}

div.image-container{
  display:  flex;
  justify-content:  center;
  align-items: center;
  height: 100vh;
}

div.image-container img {
  max-width: 75vw;
  max-height: 85vh;
}

div.image-container img.horizontal {
  max-width: 55vw;
}

div.specifications {
  line-height: 1.2;
}

/* Responsive */

@media (max-width: 960px) {
  div.description {
    width: 14vw;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 800px) {

  h2 {
    font-size: 16px;
    margin-bottom: 1vh;
  }

  div.image-container img.square {
    max-width: 60vw;
  }
}

@media (max-width: 668px) {

  div.image-container img{
    max-width: 75vw;
  }

  div.image-container img.square {
    max-width: 90vw;
  }

  div.description.square-responsive {
    bottom: 19vw;
    width: 100vw;
  }

  div.image-container img.horizontal{
    max-width: 90vw;
  }

  div.description.horizontal  {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: initial;
    bottom: 60vw;
  }

  div.description.horizontal.nudes {
    bottom: 44vw;
  }

  div.description.horizontal.dog {
    bottom: 50vw;
  }

  div.description.horizontal.double {
    bottom: 34vw;
  }

  div.description{
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: initial;
    bottom: 5vw;
  }

  div.description.horizontal.still {
    bottom: 51vw;
  }
}


@media (max-width: 450px) {

  div.image-container{
    align-items: flex-start;
    padding-top: 7vh;
    }

  div.image-container {
    padding-top: 14vh;
    }

  div.image-container.shorter {
    padding-top: 12vh;
    }

  div.image-container img{
    max-width: 90vw;
    max-height: 70vh;
    }

  div.description  {
    bottom: 6vw;
  }

  div.description.shorter {
    bottom: 8vw;
  }
}

@media (max-width: 380px) {

  div.description.square-responsive {
    bottom: 35vw;
  }

  div.description.horizontal {
    bottom: 75vw;
  }

  div.description.horizontal.nudes {
    bottom: 55vw;
  }

  div.description.shorter {
    bottom: 10vw;
  }
  div.description.horizontal.dog {
    bottom: 65vw;
  }

  div.description.horizontal.double {
    bottom: 50vw;
  }

  div.description.horizontal.still {
    bottom: 65vw;
  }

}

@media (max-width: 320px) {

  div.description{
    bottom: 10vw;
  }

  div.description.square-responsive {
    bottom: 50vw;
  }

  div.description.horizontal {
    bottom: 100vw;
  }

  div.description.horizontal.nudes {
    bottom: 75vw;
  }

  div.description.shorter, div.description.test {
    bottom: 20vw;
  }

  div.description.horizontal.dog {
    bottom: 85vw;
  }

  div.description.horizontal.double {
    bottom: 70vw;
  }

  div.description.horizontal.still {
    bottom: 85vw;
  }

}
