:root {
  --primary-color: #f4f4f4;
  --secondary-color: #0b0b0b;
  --box-shadow: 0 1px 14px -4px #0b0b0b;
  --header-margin-top: 2vh;
  --section-margin-left: 5vw;
  --section-margin-right: 5vw;
  --cursor: crosshair;
}

img {
  opacity: 0;
}

div.description {
  position: fixed;
  top: 8vh;
  width: 20vw;
  left: 5vw;
}

div.description.horizontal {
  top: 40vh;
  left: 5vw;
  width: 15vw;
}

div.description.square {
  top: 20vh;
  left: 5vw;
  width: 15vw;
}

div.image-container{
  display:  flex;
  justify-content:  center;
  align-items: center;
  height: 100vh;
}

div.image-container img {
  max-width: 75vw;
  max-height: 85vh;
}

div.image-container img.horizontal {
  max-height: 90vh;
}

div.specifications {
  line-height: 1.2;
}
