/* animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



/* postcss variables */

:root {
  --primary-color: #f4f4f4;
  --secondary-color: #0b0b0b;
  --box-shadow: 0 1px 14px -4px #0b0b0b;
  --header-margin-top: 2vh;
  --section-margin-left: 5vw;
  --section-margin-right: 5vw;
  --cursor: crosshair;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

h1  {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

h2 {
  margin-bottom: 1vh;
}

img {
  box-shadow: var(--box-shadow);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--header-margin-top);
  position: absolute;
  top: 0;
  left: 0;
  width: 90vw;
}

.section-pad {
  margin-left: var(--section-margin-left);
  margin-right: var(--section-margin-right);
}

/* make cursors all pointers */
.about-button, .alexander-button, .back-button, a:hover  {
  cursor: var(--cursor);
  }

/* want to animate image so it slides down from top when we hover over h1  tag */

li img {
  max-width: 35vw;
  max-height: 65vh;
  box-shadow: var(--box-shadow);
  opacity: 1;
}

div.images {
  position: absolute;
  width: 90vw;
  transform: translateY(-50%);
}

@keyframes slideDown {
  0% {
    top: 0;
  }

  100% {
    top: 150vh;
  }
}

@keyframes slideLeft {
  0% {
    right: 0;
  }

  100% {
    right: 105vw;
  }
}

div.image1, div.image2 {
  position: absolute;
  width: 90vw;
  transform: translateY(-50%);
  transition: transform .3s;
}

div.image1 {
  top: -100vh;
}

div.image2 {
  right: -100vw;
  top:  50vh;
}

div.image1 img {
  float: left;
}

div.image2 img {
  float: right;
}

a img {
  position: relative;
}

a:hover .image1 img {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

a:hover .image2 img {
  animation-name: slideLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.series-list-container {
  background-color: var(--primary-color);
}

.black-background {
  background-color: var(--secondary-color);
}

.series-list {
  text-align: center;
  padding-bottom: 48px;
  padding-top: 12vh;
}

@keyframes blackToWhite {
  0% {
    background-color: var(--secondary-color);
  }

  100% {
    background-color: var(--primary-color);
  }
}

@keyframes whiteToBlack {
  0% {
    background-color: var(--primary-color);
  }

  100% {
    background-color: var(--secondary-color);
  }
}
